.App {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  margin: 0 auto;
  margin-top: 30px;
  border-top: 1px solid #F9F9F9;
  box-shadow: 0 4px 8px 0 #E8E8E8, 0 6px 20px 0 #E8E8E8;
  border-radius: 1px;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}

header {
  width: 100%;
  border-bottom: 1px solid #F5F5F5;
  box-sizing: border-box;
  font-size: 24px;
  font-family: monospace;
  padding: 30px;
  letter-spacing: -2px;
}

.data {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;
}

.pie-chart-container, .grid-container {
  width: 50%;
  box-sizing: border-box;
}

.pie-chart-container {
  padding: 30px;
}

.pie-chart-container label {
  padding-right: 10px;
  font-weight: 700;
}

.pie-chart-container label label:first-of-type {
  padding-left: 10px;
}

.grid-container {
  padding: 50px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

.grid-container h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.grid-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-top: 1px solid black;
  box-sizing: border-box;
}

.grid-row:first-of-type {
  border: 0;
}

.grid-row:nth-of-type(2n - 1) {
  background-color: #F7F7F7;
}

.grid-row li:nth-of-type(1) {
  width: 10%;
}

.grid-row li:nth-of-type(2) {
  width: 40%;
}

.grid-row li:nth-of-type(3) {
  width: 30%;
}

.grid-row li:nth-of-type(4) {
  width: 20%;
}

.grid-row li {
  padding: 10px;
  box-sizing: border-box;
}

input {
  vertical-align: bottom;
}